:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color-blue: #2196f3;
  --accent-color-white: #ffffff;
  --backgroud-color: #f5f5f5;
}
body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--backgroud-color);
}
/* header */
.header {
  background-color: var(--accent-color-white);
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
  text-decoration: none;
}
.logo-part {
  color: var(--accent-color-blue);
}

.nav {
  list-style-type: none;
}
.nav-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  text-decoration: none;
}
.nav-list:hover,
.nav-list:focus {
  color: var(--accent-color-blue);
}
.header-mail,
.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
}
.header-mail:hover,
.header-mail:focus,
.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color-blue);
}

/* main */

/* герой */
.hero {
  background-color: #2f303a;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--accent-color-white);
}
.button {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--accent-color-white);
  background-color: var(--accent-color-blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}
.button:hover,
.button:focus {
  background-color: #188ce8;
}
/* особливості */
.list-title {
  font-size: 14px;
  line-height: 1.14;
  color: var(--title-text-color);
  text-transform: uppercase;
}
p {
  font-size: 14px;
  line-height: 1.71;
}
.list {
  list-style-type: none;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--title-text-color);
  text-align: center;
}
/* наша команда */
.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--title-text-color);
  text-align: center;
}
.work-title {
  font-size: 16px;
  line-height: 1.19;
  color: var(--primary-text-color);
  text-align: center;
}

/* footer */
.footer {
  background-color: #2f303a;
}
.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color-white);
  text-decoration: none;
}
.footer-address {
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  color: var(--accent-color-white);
}

.footer-place {
  font-size: 14px;
  line-height: 1.71;
  color: var(--accent-color-white);
  text-decoration: none;
}
.footer-mail,
.footer-tel {
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

/* PORTFOLIO */
/* фільтр */
.filter {
  background-color: var(--backgroud-color);
}
.button-portfolio {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  color: var(--title-text-color);
  text-align: center;

  background-color: #f5f4fa;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
.button-portfolio:hover,
.button-portfolio:focus {
  color: var(--accent-color-white);
  background: var(--accent-color-blue);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: none;
}
/* приклади робіт */
.portfolio-projects {
  background-color: var(--backgroud-color);
}
.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.project {
  font-size: 16px;
  line-height: 1.88;
}
.portfolio-list {
  color: var(--primary-text-color);
  text-decoration: none;
}
